# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Streamlit local settings & cache
.streamlit/
*.streamlit

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE Files
.vscode/
.idea/

# Temporary / Scratch Files
*.tmp
*.log
*.bak
